@model WorkoutLogCreate
<form asp-controller="Workout" asp-action="Create" method="Post">
    Name:  <Input asp-for="Name"> </Input>
    Notes:  <Input asp-for="Notes"> </Input>
    <button type="Submit">Submit</button> </form>
